.advantages {
    min-height: 470px;
    padding: 70px 0 64px 0;
    background: #f6f6f6;
    &__header {
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        color: #0d0d0d;
        text-align: center;
        margin-bottom: 60px;
    }
    &__cards {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0;
    }
    &__card {
        width: 270px;
    }
    &__image {
        display: block;
        margin: 0 auto;
        &_animated {
            animation: heartbeat 1.5s ease infinite;
            // animation-name: heartbeat;
            // animation-duration: 1.5s;
            // animation-timing-function: ease;
            // animation-iteration-count: infinite;
            &:hover {
                animation-play-state: paused;
            }
        }
    }
    &__name {
        margin-top: 35px;
        margin-bottom: 20px;
        text-align: center;
        font-size: 18px;
        color: #0d0d0d;
    }
    &__text {
        text-align: center;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color: #0d0d0d;
        span {
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;
            text-decoration-line: underline;
            color: #ff0000;
        }
    }
}
